.nav-wrapper {overflow: hidden;}
.navbar-fixed + .side-nav {top: 64px;}
#sidenav-overlay {opacity: 0 !important;}
.vspace {clear: both; height: 5px;}
.vspace-10 {clear: both; height: 10px;}
.vspace-20 {clear: both; height: 20px;}
.vspace-30 {clear: both; height: 30px;}
.vspace-40 {clear: both; height: 40px;}
#nav-mobile i.fas {font-size: 16px !important;}
.slides li .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.card-image img {height: 220px; -o-object-fit: contain; object-fit: contain;}
.card-content {height: 240px;}

@media screen and (max-width: 600px) {
    .navbar-fixed + .side-nav {top: 56px;}
    .card-content {height: 180px;}
}
